<div class="row mt-5">
  <%= image_tag("signupheader1.png", :class => "col col-md-8 offset-md-2 col-sm-12 col-xs-12 mt-4 d-none d-sm-block col-sm-12") %>
</div>

<div class="row margin_for_sign_up">
  
  <div class="col col-md-6 offset-md-3">

    <%= form_for(@user, :html => {class: "form", role: "form"}) do |f| %>
      <div class="form-group">
        <label for="name"> 
          <%= f.label :name, "Full Name*" %>  
        </label>
        <div class="col col-md-12">
          <%= f.text_field :name, class: "form-control", placeholder: "John", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <label for="email"> 
          <%= f.label :email, "Email Address*" %>  
        </label>
        <div class="col col-md-12">
          <%= f.email_field :email, class: "form-control", placeholder: "john@gmail.com", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <label for="password"> 
          <%= f.label :password, "Password*" %>  
        </label>
        <div class="col col-md-12">
          <%= f.password_field :password, class: "form-control", placeholder: "***********", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col col-md-12">
          <%= f.submit "Sign-up", class: "btn btn-drop btn-block btn-lg effect-btn" %>
        </div>
      </div>      
    <% end %>    
  
  </div>  

</div>

<div class="row mb-4">
  <div class="col-md-12">
    <p align="center">By signing up, you will receive DropAlley updates to your e-mail.</p>
  </div>
</div>

<%= render 'layouts/footer' %>