<div class="row brands_top_margin">
	<div class="jumbotron effect1 jumbobg">
	  <h1 align="center">Browse Brands</h1>
	  <p class="lead" align="center">First, browse your favorite brands' websites. Then, copy the product links and request a trial by clicking on the button below.</p>
	  <hr class="my-4">
	  <div class="row">
	  	<div class="col-md-6 offset-md-3">
	  		<%= link_to "Request a Try & Buy", new_order_path, class: "btn btn-trial btn-block cta_btn effect-btn my-2 my-sm-0" %>
	  	</div>
	  </div>  

	</div>
</div>

<div class="row">
	<div class="col-md-3">
		 <%=link_to image_tag('logo_zara.png', class:" d-block mx-auto" ), "https://www.zara.com/es/en", target:"_blank" %>
	</div>
	<div class="col-md-3">
		<%=link_to image_tag('logo_hm.png', class:" d-block mx-auto"), "http://www2.hm.com/es_es/index.html", target:"_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_mango.png', class:" d-block mx-auto"), "https://shop.mango.com/es", target: "_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_cfant.png', class:" d-block mx-auto"), "https://www.xn--compaiafantastica-jxb.com/en/", target: "_blank" %>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		  <%=link_to image_tag('logo_elganso.png', class:" d-block mx-auto"), "https://www.elganso.com/en/", target: "_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_muroexe.png', class:" d-block mx-auto"), "https://es.muroexe.com/", target: "_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_desig.png', class:" d-block mx-auto"), "https://www.desigual.com/es_ES", target: "_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_gbbravo.png', class:" d-block mx-auto"), "http://gbbravo.dropalley.com", target: "_blank" %>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		  <%=link_to image_tag('logo_hawkers.png', class:" d-block mx-auto"),"https://www.hawkersco.com/", target: "_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_pullbear.png', class:" d-block mx-auto"), "https://www.pullandbear.com/es/en/", target: "_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_mdutti.png', class:" d-block mx-auto"), "https://www.massimodutti.com/es/en/", target: "_blank" %>
	</div>
	<div class="col-md-3">
		  <%=link_to image_tag('logo_uter.png', class:" d-block mx-auto"), "https://www.uterque.com/es/en/", target: "_blank" %>
	</div>
</div>

<%= render 'layouts/footer' %>
