<div class="row home_top_margin">
  <%= image_tag("1_1.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>  
  <%= image_tag("1_3.jpg", :class => "col col-md-4 column_width_manager") %>
  <%= image_tag("2_1.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>
</div>

<div class="row">
  <%= image_tag("1_2.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>
  <div class="col col-md-4">
    <h2 align="center">Prueba y Compra</h2>
    <h5 align="center">Regístrese hoy para la oferta por tiempo limitado de &euro;10 de descuento en su primera compra!</h5>
    <p align="center"> Pruebe productos de moda en ANTES de decidir si quiere comprarlos - todo desde la comodidad de su propia casa! ¿La mejor parte? Es GRATIS!</p>
  </div>        
  <%= image_tag("1_6.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>
</div>

<div class="row">
  <%= image_tag("1_9.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>        
  <div class="col col-md-2 mt-4">
    <%= link_to "Registrarse", new_user_path, class: "btn btn-block btn-drop btn-lg effect-btn" %>
  </div>
  <div class="col col-md-2 mt-4">
    <%= link_to "Marcas", brands_path, class: "btn btn-block btn-trial btn-lg effect-btn" %>
  </div>
  <%= image_tag("1_7.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>
</div>

<div class="row mt-5 p-3">
  <div class="col col-md-12">
    <h2 class="the_underline" align="center">Cómo Funciona</h2>
  </div>
</div>

<div class="row mt-3 mb-5">
  <div class="col-md-4">
    <h1 class="the_underline" align="center">01</h1>
    <h3 align="center">Descubra los productos</h3>
    <p align="center">Busca productos entre las marcas que aparecen en la lista haciendo clic en el enlace Comprar Marcas en la parte superior de la página</p>
  </div>

  <div class="col-md-4">
    <h1 class="the_underline" align="center">02</h1>
    <h3 align="center">Seleccione Productos</h3>
    <p align="center">Descubra los productos que le gustan y copie el enlace de la url del producto desde la barra de direcciones de su navegador.</p>
  </div>

  <div class="col-md-4">
    <h1 class="the_underline" align="center">03</h1>
    <h3 align="center">Solicitar una prueba</h3>
    <p align="center">Haga clic en el botón Solicitar una prueba, rellene sus datos y los enlaces de los productos para los que desea una prueba.</p>
  </div>

</div>

<div class="row mt-5 mb-5">
   <div class="col col-md-6 offset-md-3">
     <div class="outerbox_signup p-5 effect1">
       <div class="innerbox_signup">
         <h2 align="center">¿Qué estás esperando?</h2>
         <p align="center"> La nueva era de las compras online ya está aquí! Al registrarse recibirá las últimas actualizaciones sobre los productos y marcas que puede PRUEBA antes de COMPRAR. </p>
         <%= link_to "Registrarse", new_user_path, class: "btn btn-block btn-lg btn-drop" %>
       </div>
     </div>
   </div> 
</div>

<footer class="footer">
  <div class="container-fluid">
     <div class="row mt-3">
       <div class="col-md-5">
         <p class="align-bottom">Copyright &copy 2018 DropAlley. All rights reserved.</p>
       </div>
       <div class="col col-md-3 offset-md-4">
           <%= link_to "https://www.facebook.com/DropAlley/", target: "_blank" do %>
            <i class="fa fa-facebook"></i>
           <% end %>
           <%= link_to "https://www.youtube.com/watch?v=8TfqL3aCGeo", target: "_blank" do %>
            <i class="fa fa-youtube"></i>
           <% end %>
           <%= link_to "https://www.instagram.com/dropalley/", target: "_blank" do %>
            <i class="fa fa-instagram"></i>
           <% end %>
       </div>
     </div> 
  </div>
</footer>